<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CUA_HANG_TIEN_LOI_Entities"
       connectionString="metadata=res://*/Store_Model.csdl|res://*/Store_Model.ssdl|res://*/Store_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CUA_HANG_TIEN_LOI;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
</connectionStrings>
