<connectionStrings>
	<add name="CUA_HANG_TIEN_LOI_Entities"
		 connectionString="metadata=res://*/Store_Model.csdl|res://*/Store_Model.ssdl|res://*/Store_Model.msl;
       provider=System.Data.SqlClient;
       provider connection string=&quot;data source=PC-ADMIN\SQLEXPRESS;
       initial catalog=CUA_HANG_TIEN_LOI;
       integrated security=True;
       trustservercertificate=True;
       MultipleActiveResultSets=True;
       App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>